@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Indie+Flower&family=Metal+Mania&family=PT+Sans+Narrow&family=Shadows+Into+Light&family=Ubuntu&display=swap');
@import "input";

@mixin star($color) {
    margin:0;
    color:$color;
    padding: 0;
    box-sizing: border-box;
}
$Color : white;
$font : 'Cabin', sans-serif;

body{
    @include star($Color);
    background-color: #000;
    div{
        height: 33.333vh;
        width: 100%;
    }
    #Fahrenheit{
        border-top: $Color 4px solid;
        border-bottom: $Color 4px solid;
    }
}
