@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Asap;
}
body{
    background-color: #29272e;
}

header{
    background-color: white;
    padding: 10px;
}

h1{
    color: #29272e;
    text-align: center;
   font-family: Asap, sans-serif;
}
.score-board{
    border: 3px solid white;
    width: 220px;
    margin: 20px auto; /* ei 0 r jonno CENTER e ashche */
    color: white;
    font-size: 46px;
    border-radius: 4px;
    text-align: center;
    padding: 15px 20px;
    position: relative;
    font-family: Asap, sans-serif;
}

.badge{
    background-color:#E2584D;
 color: white;
 font-size: 14px;
 padding: 2px 10px;
 font-family: Asap, sans-serif;
}

#user{
    position: absolute;
    top: 30px;
    left: -25px;
}
#comp{
    position: absolute;
    top: 30px;
    right: -25px;
}
.result{
    font-size: 40px;
    color: white;
}
.result>p{
text-align: center;
font-weight: bold;
}

.choices{
    text-align: center;
    margin-top: 50px 0;
}
.choice{
    display: inline-block; /*Flex dile side by side ashe na*/
    margin:50px 10px 0;
    padding: 25px;
    padding-right:30px ;
    border: 4px solid white;
    border-radius: 50%;
    color: rgb(255, 188, 149);
    font-size: 100px;
    transition: all 0.3s ease;
}
.choice:hover{
    cursor: pointer;
    background-color: rgb(10, 10, 10);
}
.action-messege{
   text-align: center;
   font-size: 20px;
   color: white;
   font-weight: bold;
   margin-top: 20px;
}

.green-glow{
    border: 4px solid rgb(12, 255, 12);
    box-shadow: 0 0 50px rgb(0, 95, 0); /*Border-Shadow nai(ami Bhabsilam ase....hehehe....*/ 
    /* box-shadow: Horizental,Vertical,Blur-koto tuku jabe, color  */
}
.red-glow{
    border: 4px solid #fc121b;
    box-shadow: 0 0 50px #d01115;
}
.gray-glow{
    border: 4px solid rgb(58, 110, 255);
    box-shadow: 0 0 50px rgb(0, 90, 192);
}

.text-center{
    color: white;
    text-align: center;
    margin: auto;
    font-size: 50px;
    margin-top: 15px;
    font-family:'Metal Mania', cursive !important; 
}