.header{
    height: 60px;
    display: flex;
    align-content: center;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100; /* New */
}

.amazon__logo{
    width: 100px;
    object-fit: contain; /* New */
    margin: 0 20px;
    margin-top: 18px;
}

.header__search{
    display: flex;
    flex: 1; /* Stretch the InputBar */
    align-items: center;
    border-radius: 24px;
}

.header__searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header__searchIcon{
    padding: 5px;
    height: 22px !important;  /* New */ 
    background-color:rgb(218, 142, 3);
}

.header__optionLineOne{
    font-size: 10px;
}
.header__optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}

.header__optionBasket{
    display: flex;
    align-items: center;
    color: white;
}

.header__basketCount{
    margin-left: 10px;
    margin-right: 10px;
}

.header__nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center; /* Ami disi...CP may be dey nay */
}

.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}