$textColor : white;
$backColor: rgb(221, 80, 37);
$size : 25px;

.sass__marai{
    color: $textColor;
    background-color: $backColor;
    padding: $size;
    font-size: $size;
    margin: $size;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}